__pycache__
__epspy__
backup
temp
WireFrameDataEditor.eps
BGMFlexible.eps
dotData.eps
PluginVariables.py
BGMPlayer.eps
BGMPlayerWrapper.eps
dotTool.eps
SCAFastLoader.eps
SCALuaWrapper.eps
SCArchive.eps
SCATool.eps
SCAWrapper.eps
TETools.eps
timeline.py
wireframe.eps